<?xml version="1.0" encoding="utf-8" ?>
<system.identityModel.services>
  <federationConfiguration>
    <wsFederation passiveRedirectEnabled="true"
                  issuer="https://localhost/SenhaWebPassiveSTS/"
                  realm="https://localhost/ClaimsAuthWithExternalSTS/"
                  requireHttps="true" />
    <cookieHandler requireSsl="true" />

    <serviceCertificate>
      <certificateReference x509FindType="FindByThumbprint" findValue="40A1D2622BFBDAC80A38858AD8001E094547369B" storeLocation="LocalMachine" storeName="My"/>
    </serviceCertificate>

  </federationConfiguration>
</system.identityModel.services>
