<system.identityModel>  
  <identityConfiguration>
    <certificateValidation certificateValidationMode="None" />

    <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <trustedIssuers>
        <add thumbprint="40A1D2622BFBDAC80A38858AD8001E094547369B" name="https://localhost/SenhaWebPassiveSTS/"/>
      </trustedIssuers>
    </issuerNameRegistry>

    <audienceUris>        
      <add value="https://localhost/ClaimsAuthWithExternalSTS/"/>
    </audienceUris>

    <claimsAuthenticationManager type="ClaimsAuthWithExternalSTS.IdentityModel.SWClaimsAuthenticationManager, ClaimsAuthWithExternalSTS"/>
  </identityConfiguration>
</system.identityModel>